$outline-width: 6px;
$shadow-width: 4px;
$font-retro: "Press Start 2P", cursive;

@mixin retro-style-mixin($outline-width-mixin, $shadow-width-mixin) {
  font-family: $font-retro;
  background: #ffff;
  position: relative;
  text-decoration: none;
  color: #000000;
  box-shadow: inset (-$shadow-width-mixin) (-$shadow-width-mixin) 0px 0px
    #c9b9b9;
  cursor: url(/src/assets/retro-cursor-click.png), auto;
  &:hover,
  &:focus {
    background: #ece5e5;
    box-shadow: inset (-$shadow-width-mixin * 1.5) (-$shadow-width-mixin * 1.5)
      0px 0px #c9b9b9;
  }
  &:active {
    box-shadow: inset $shadow-width-mixin $shadow-width-mixin 0px 0px #c9b9b9;
  }
  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
  }
  &:before {
    top: -$outline-width-mixin;
    left: 0;
    border-top: $outline-width-mixin black solid;
    border-bottom: $outline-width-mixin black solid;
  }
  &:after {
    left: -$outline-width-mixin;
    top: 0;
    border-left: $outline-width-mixin black solid;
    border-right: $outline-width-mixin black solid;
  }
}

.retro-style {
  @include retro-style-mixin($outline-width, $shadow-width);
}

div.retro-style {
  &:hover,
  &:focus {
    background: #ffff;
    box-shadow: 0px 0px 0px 0px #c9b9b9;
  }
  &:active {
    box-shadow: 0px 0px 0px 0px #c9b9b9;
  }
}

@media (max-width: 1000px) {
  .retro-style {
    @include retro-style-mixin(
      calc($outline-width / 2),
      calc($shadow-width / 2)
    );
  }
}
